<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
Xcode 4 Templates
Copyright (C) 2012 Marco Antognini (antognini.marco@gmail.com), 
                        
This software is provided 'as-is', without any express or implied warranty.
In no event will the authors be held liable for any damages arising from the use of this software.

Permission is granted to anyone to use this software for any purpose,
including commercial applications, and to alter it and redistribute it freely,
subject to the following restrictions:

1. The origin of this software must not be misrepresented;
   you must not claim that you wrote the original software.
   If you use this software in a product, an acknowledgment
   in the product documentation would be appreciated but is not required.
   
2. Altered source versions must be plainly marked as such,
   and must not be misrepresented as being the original software.
   
3. This notice may not be removed or altered from any source distribution.
-->
<dict>

    <key>Summary</key>
    <string>A C++ class</string>
    
    <key>Description</key>
    <string>A C++ class : a header and a source file.</string>

    <key>AllowedTypes</key>
    <array>
        <string>public.c-plus-plus-source</string>
    </array>
    
    <key>DefaultCompletionName</key>
    <string>MyClass</string>

    <key>Kind</key>
    <string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>

    <key>Options</key>
    <array>
        <!-- product name : based on the class name -->
        <dict>
            <key>Identifier</key>
            <string>productName</string>
            <key>Default</key>
            <string>___VARIABLE_className:identifier___</string>
            <key>Type</key>
            <string>static</string>
        </dict>

        <!-- class name -->
        <dict>
            <key>Description</key>
            <string>The name of the class to create.</string>
            <key>Name</key>
            <string>Class Name</string>

            <key>Identifier</key>
            <string>className</string>
            <key>NotPersisted</key>
            <false/>
            <key>Required</key>
            <true/>
            <key>Type</key>
            <string>text</string>
        </dict>

        <!-- Inheritance ?  None, Public, Protected or Private ? -->
        <!-- This will load the files in "option" directory -->
        <dict>
            <key>Name</key>
            <string>Inheritance Type</string>
            <key>Description</key>
            <string>How does the new class inherits from its superclass ?</string>

            <key>Identifier</key>
            <string>inheritanceType</string>
            <key>Type</key>
            <string>popup</string>
            <key>Default</key>
            <string>None</string>
            <key>Values</key>
            <array>
                <string>None</string>
                <string>Public</string>
                <string>Protected</string>
                <string>Private</string>
            </array>
        </dict>

        <!-- Superclass name -->
        <dict>
            <key>Name</key>
            <string>Superclass</string>
            <key>Description</key>
            <string>What is its superclass ?</string>

            <key>Identifier</key>
            <string>superclassName</string>
            <key>Type</key>
            <string>class</string>

            <key>RequiredOptions</key>
            <dict>
                <key>inheritanceType</key>
                <array>
                    <string>Public</string>
                    <string>Protected</string>
                    <string>Private</string>
                </array>
            </dict>
        </dict>
        
    </array>
</dict>
</plist>
